periferia_preventa/n8n_workflow_webhook_preventa.json
{
  "name": "Generar PPTX Preventa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-pptx",
        "responseMode": "responseNode"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "python3 /mnt/c/Users/heidyromero/periferia_preventa/generate_pptx.py '{{ JSON.stringify($json) }}' '/tmp/preventa_output'"
      },
      "id": "ExecuteCommand",
      "name": "Generar PPTX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "responseCode": 200,
        "responseBody": "={{$json}}"
      },
      "id": "Respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generar PPTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar PPTX": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
