periferia_preventa/n8n_workflow.json
{
  "name": "Generador Propuestas Periferia IT",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generador de Propuestas — Periferia IT",
        "formDescription": "Selecciona las torres y el tipo de documento a generar.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tipo de documento",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Fuera del Alcance (FDA)"
                  },
                  {
                    "option": "Perfiles por Torre"
                  },
                  {
                    "option": "Ambos (FDA + Perfiles)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Torres a incluir",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "FULLSTACK / DESARROLLO"
                  },
                  {
                    "option": "QA"
                  },
                  {
                    "option": "ARQUITECTURA"
                  },
                  {
                    "option": "DATOS"
                  },
                  {
                    "option": "RPA"
                  },
                  {
                    "option": "DEVOPS"
                  },
                  {
                    "option": "CIBERSEGURIDAD"
                  },
                  {
                    "option": "IA"
                  },
                  {
                    "option": "SAP"
                  },
                  {
                    "option": "PMO"
                  },
                  {
                    "option": "MOBILE"
                  },
                  {
                    "option": "PORTALES"
                  },
                  {
                    "option": "INTEGRACIÓN"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Ítems personalizados FDA (opcional)",
              "fieldType": "textarea",
              "placeholder": "Formato JSON: {\"QA\": [\"Item 1\", \"Item 2\"], \"SAP\": [\"Item 1\"]}\\n\\nDejar vacío para usar los datos del template.",
              "requiredField": false
            },
            {
              "fieldLabel": "Perfiles personalizados (opcional)",
              "fieldType": "textarea",
              "placeholder": "Formato JSON: {\"QA\": [{\"rol\": \"Analista QA\", \"desc\": \"Descripción...\"}]}\\n\\nDejar vacío para usar los datos del template.",
              "requiredField": false
            }
          ]
        },
        "options": {}
      },
      "id": "node-form-trigger",
      "name": "Formulario Preventa",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        240,
        300
      ],
      "webhookId": "periferia-preventa-form"
    },
    {
      "parameters": {
        "jsCode": "\n// ── Mapeo de modo ────────────────────────────────────────────────────────────\nconst modoRaw = $json['Tipo de documento'] || 'Fuera del Alcance (FDA)';\nconst modeMap = {\n  'Fuera del Alcance (FDA)': 'fda',\n  'Perfiles por Torre': 'perfiles',\n  'Ambos (FDA + Perfiles)': 'ambos'\n};\nconst mode = modeMap[modoRaw] || 'fda';\n\n// ── Torres seleccionadas ────────────────────────────────────────────────────\n// n8n devuelve multiselect como array o string separado por coma\nlet torresRaw = $json['Torres a incluir'] || [];\nif (typeof torresRaw === 'string') {\n  torresRaw = torresRaw.split(',').map(t => t.trim()).filter(Boolean);\n}\nif (!Array.isArray(torresRaw)) torresRaw = [torresRaw];\n\n// ── Items FDA custom (opcional) ──────────────────────────────────────────────\nlet fdaCustom = {};\nconst fdaRaw = $json['Ítems personalizados FDA (opcional)'] || '';\nif (fdaRaw.trim()) {\n  try { fdaCustom = JSON.parse(fdaRaw); } catch(e) { fdaCustom = {}; }\n}\n\n// ── Perfiles custom (opcional) ───────────────────────────────────────────────\nlet perfCustom = {};\nconst perfRaw = $json['Perfiles personalizados (opcional)'] || '';\nif (perfRaw.trim()) {\n  try { perfCustom = JSON.parse(perfRaw); } catch(e) { perfCustom = {}; }\n}\n\n// ── Construir config para el script Python ───────────────────────────────────\nconst torres = torresRaw.map(name => ({\n  name,\n  fda_items: fdaCustom[name] || [],\n  perfiles:  perfCustom[name] || []\n}));\n\nconst config = JSON.stringify({ mode, torres });\n\n// Output dir con timestamp único\nconst ts = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst outDir = `/tmp/periferia_${ts}`;\n\nreturn [{ json: { config, outDir, mode, torres: torresRaw } }];\n"
      },
      "id": "node-build-config",
      "name": "Preparar Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "command": "=python3 /TU_RUTA/generate_pptx.py '{{ $json.config }}' '{{ $json.outDir }}'"
      },
      "id": "node-execute",
      "name": "Generar PPTX",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// Parsear resultado del script Python\nconst stdout = $json.stdout || '';\nconst stderr = $json.stderr || '';\n\nlet result;\ntry {\n  result = JSON.parse(stdout.trim());\n} catch(e) {\n  throw new Error('Error parseando salida Python: ' + stdout + ' | stderr: ' + stderr);\n}\n\nif (!result.ok) {\n  throw new Error('Error generando PPTX: ' + result.error);\n}\n\n// Devolver paths de archivos generados\nconst files = result.files || {};\nconst items = [];\n\nfor (const [tipo, filePath] of Object.entries(files)) {\n  items.push({ json: { tipo, filePath, outDir: $('Preparar Config').item.json.outDir } });\n}\n\nreturn items;\n"
      },
      "id": "node-parse-result",
      "name": "Procesar Resultado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.filePath }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "id": "node-read-file",
      "name": "Leer Archivo PPTX",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "={{ 'attachment; filename=\"' + ($json.tipo === 'fda' ? 'Periferia_IT_Fuera_del_Alcance' : 'Periferia_IT_Perfiles') + '_' + new Date().toISOString().slice(0,10) + '.pptx\"' }}"
              },
              {
                "name": "Content-Type",
                "value": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
              }
            ]
          }
        }
      },
      "id": "node-form-response",
      "name": "Respuesta con PPTX",
      "type": "n8n-nodes-base.formResponse",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ]
    }
  ],
  "connections": {
    "Formulario Preventa": {
      "main": [
        [
          {
            "node": "Preparar Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Config": {
      "main": [
        [
          {
            "node": "Generar PPTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar PPTX": {
      "main": [
        [
          {
            "node": "Procesar Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Resultado": {
      "main": [
        [
          {
            "node": "Leer Archivo PPTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Archivo PPTX": {
      "main": [
        [
          {
            "node": "Respuesta con PPTX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "preventa"
    },
    {
      "name": "periferia"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T00:00:00.000Z",
  "versionId": "1"
}